USERNAME=your_geocaching_username
PASSWORD=your_geocaching_password
FIREFOX_PROFILE_PATH=/full/path/to/your/firefox/profile
GEOCACHING_SCRAPE_QUEUE_URL=https://www.geocaching.com/admin/queue.aspx?filter=AllHolds&stateid=16&pagesize=-1